@use 'variables' as *;

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.h-full {
    height: 100%;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.gap-2 {
    gap: $spacing-2;
}

.gap-3 {
    gap: $spacing-3;
}

.mt-4 {
    margin-top: $spacing-4;
}

.mt-12 {
    margin-top: $spacing-10;
}

.mb-2 {
    margin-bottom: $spacing-2;
}

.mb-4 {
    margin-bottom: $spacing-4;
}

.mb-6 {
    margin-bottom: $spacing-6;
}

.mb-12 {
    margin-bottom: $spacing-10;
}

.p-6 {
    padding: $spacing-6;
}

.text-xs {
    font-size: $font-size-xs;
}

.text-purple-600 {
    color: $primary-brand;
}

.mr-2 {
    margin-right: $spacing-2;
}
