@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.card {
    border-radius: $radius-xl;
    overflow: hidden;
    transition: all $transition-normal;
    position: relative;

    &--default {
        background: $bg-surface;
        border: 1px solid $border-color;
    }

    &--glass {
        @include glass-effect;
    }

    &--outlined {
        background: transparent;
        border: 1px solid $border-color;
    }

    &--hoverable {
        cursor: pointer;

        &:hover {
            transform: translateY(-2px);
            box-shadow: $shadow-lg;
            border-color: $text-secondary;
        }
    }
}
